.header {
  margin-bottom: 0px;

  & h1 {
    margin: 0;
    padding: 21px 0 0 6px;
  }
}

.main {
  padding: 67px;
}

.color {
  &__container {
    display: flex;
    background-color: white;
    width: 100%;
    border: 1px solid black;

    & div {
      border-right: 1px solid black;
      width: stretch;
      height: 200px;
      position: relative;
    }

    &__box1 {
      background-color: rgb(250, 174, 120);
    }

    &__box2 {
      background-color: rgb(245, 226, 179);
    }

    &__box3 {
      background-color: aqua;
    }
  }
  &__label {
    margin: 0;
    padding: 0;
  }
}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-section {
  margin: 60px 32px;
}

label {
  margin-right: 10px;
  font-size: 2rem;
}

input {
  height: 40px;
  width: 120px;
}

button {
  margin-right: 10px;
  font-size: 1.5rem;
}

.footer {
  &__contact {
    margin: 0;
  }

  &__info {
    margin: 0 auto;
  }
}
